## Project: Data Cleaning with Pandas

#### Below will be a series of user stories, followed by an empty Python code block
* These user stories will go through the process of importing, cleaning, and exporting the included `dirty_cars_dataset.csv` file
* Be sure to read each question carefully, and to test and debug your code to ensure the user story is completed correctly!

### As a Data Analyst, I want to set up the proper imports so I have access to the Pandas library

In [1]:
import pandas as pd

### As a Data Analyst, I want to import and store the `dirty_cars_dataset.csv` file in a variable
âœ… I want to use the `index` column from this .csv file as the `index column` of my DataFrame

In [2]:
dirty_cars_df = pd.read_csv("dirty_cars_dataset.csv", index_col=["index"])
dirty_cars_df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,1650000.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

### As a Data Analyst, I want to view the **information** about my new DataFrame to answer the following questions:
##### Enter your responses in the Markdown block below

* How many entries are in this DataFrame: 64
* How many columns are in this DataFrame: 9
* Which column(s) contain null values in this DataFrame: price

In [3]:
dirty_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           64 non-null     object
 1   body-style        64 non-null     object
 2   wheel-base        64 non-null     float64
 3   length            64 non-null     float64
 4   engine-type       64 non-null     object
 5   num-of-cylinders  64 non-null     object
 6   horsepower        64 non-null     int64
 7   average-mileage   64 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 5.0+ KB

### As a Data Analyst, I want to to remove any null values from the DataFrame
âœ… I want to **create a new DataFrame variable** when I remove these null values<br>
âœ… Then, I want to display the **information** about my new DataFrame, to confirm the null values were successfully removed

### As a Data Analyst, I want to check if there are any **duplicate rows** within my DataFrame

### As a Data Analyst, I want to **remove** any duplicate values from the DataFrame
âœ… I want to **create a new DataFrame variable** when I remove these duplicate values<br>
âœ… I want to again check if there are any duplicate rows within my DataFrame, to ensure the values were removed successfully

### As a Data Analyst, I want to ensure I remove any outlier values from my DataFrame to avoid inaccurate analysis of my data
âœ…I want to **create a new DataFrame variable** when I remove these values<br><br>
ðŸ’¡ **Hint:** These inaccuracies will be within the `price` column ðŸ’¡<br><br>
ðŸ’¡ **Hint** There will be both **high** and **low** outlier values ðŸ’¡

In [ ]:
# Removing high outlier values

In [ ]:
# Removing low outlier values

### As a Data Analyst, I want to reformat the **company** series, ensuring all company name values are properly title (Pascal) cased

### As a Data Analyst, I want to create a ***new*** column on my DataFrame to represent the **price of each car in Euros**
ðŸ’¡ **Use the conversion rate 1.05 USD == 1 Euro** ðŸ’¡

### As a Data Analyst, I want to rename the existing **price** column to show that it represents **price in USD**

### As a Data Analyst, I want to output my cleaned DataFrame as a .csv file
âœ… I want to name this file `cleaned_cars_dataset.csv`<br>
âœ… I want to specify the encoding type 'utf-8'<br>
âœ… I want to include this .csv file in my GitHub repository